
.tippy-popper {

    .tippy-tooltip {
        .tippy-backdrop {
            // display: none;
        }
        .tippy-content {

        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    // width: 100%;
    height: 100%;

    & > .menu {
        // display: block;
        // height: 40px;

        & > .topbar {
            display: flex;
            flex-wrap: no-wrap;
            flex-direction: row;

            font-size: 1em;
            width: 100%;
            height: 40px;

            align-items: center;

            background: @green;


            min-height: 0px;  /* NEW */
            min-width: 0;   /* NEW; needed for Firefox */

            .topbar-item-head {
                margin-left: 10px;
            }
            .topbar-item-nav {
                margin-left: 20px;
            }

            .topbar-item-middle {
                margin-left: auto;
            }

            .topbar-item-last {
                margin-right: 10px;
                white-space: nowrap;
                min-height: 0;  /* NEW */
                min-width: 0;   /* NEW; needed for Firefox */
            }
        }
    }


    & > .content {
        // display: block;
        height: 100%;
        background: @base3;
    }

}


#nav-menu ul li span {
}

#curation-status-button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 8em;
    font-size: 1em;
}


.block {
    display: block;
}

.inline {
    display: inline;
}

.ui-menu {
    width: 200px;
}

.scrollable-pane {
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
