
.hidden {
  display:none;
}

.inline-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}

.inline-ul > li {
	list-style-type: none;
	display: inline;
  padding-right: 5px;
  // white-space: nowrap;
}

.inline-ul > li.first {
	margin-left: 0;
	display: inline;
  // white-space: nowrap;
}

.inline-ul > li.last {
	margin-left: 0;
	display: inline;
  padding-right: 0;
  // white-space: nowrap;
}

.h-indent-ul {
	margin: 0px;
	padding: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.h-indent-ul > li {
	margin-left: 1em;
	padding-left: 1em;
	list-style-type: none;
  padding-right: 0;
}

.h-indent-ul > li:first-child {
	margin-left: 0;
	padding-left: 0;
}

.unstyled-ul {
	margin: 2px;
	padding: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.unstyled-ul > li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
  padding-right: 0;
}

