
<div>
    <span>
        <input v-model="state.queryString">Filter</input>

        <button>Reset</button>
        <span>Echo: {{ state.queryString }}</span>
    </span>
    <div class="thinborder">
        <div>Query Term</div>
        <div>Hit: <span id="trace-menu-terms-hit"></span> </div>
        <div>Other: <span id="trace-menu-terms-other"></span> </div>
    </div>
    <div class="thinborder">
        <div>Trace Logs</div>
        <ul>

            <li v-for="item in state.selectedGroups">
                {{ item.keystr }} ({{ item.records.length }})
            </li>
        </ul>
    </div>
</div>
