
<div>
    <span>

        <input v-on:keyup.enter="filterUpdated" v-model="queryString">Filter</input>
        <button @click="filterReset">Reset</button>

    </span>

    <div class="thinborder">
        <div>Query Term</div>
        <div>Hit: <span id="trace-menu-terms-hit"></span> </div>
        <div>Other: <span id="trace-menu-terms-other"></span> </div>
    </div>
    <div class="thinborder">
        <div>Trace Logs</div>
        <ul>

            <li v-for="item in this.currentSelections">
                {{ item.keystr }} ({{ item.records.length }})
            </li>
        </ul>
    </div>
</div>

