
@import '~/assets/sass/inc/_solarized';
@import '~/assets/sass/inc/_alignment';

div.page-image-widget {

    display: inline-block;
    margin-top: 1px;

    div.status-top {
        background: $base01;

        font-size: 1.1em;
        font-weight: bold;
        color: white;

        // ACS .noselect();
    }

    border-style: solid;
    border-width: 10px 12px 13px 14px;
    border-color: black red blue green;

    .frame-content {
        display: block;

        div.page-image {
            padding: 0;
            padding-right: 1px;
            margin: 0;
            border: 0;
            z-index: 10;

            svg.page-image {
                padding: 0;
                margin: 0;
                border: 0;
                z-index: -1;
            }
        }
    }
}
