
@import '~/assets/sass/inc/_solarized';

.eventbox {
    border: 10px;
    padding: 10px;
    background: $base1;
    width: 1000px;
    height: 800px;
    display: block;
    vertical-align: middle;
    z-index: 10;
}
