<v-container fluid id="story-container">
    <v-row justify="space-between">
        <!-- Title/Short description -->
        <v-card class="">
            <v-card-title>
                <slot name="title" /> -
                <slot class="font-regular subtitle-1" name="description" />
            </v-card-title>
        </v-card>

    </v-row>

    <v-row justify="space-between">

        <v-col class="story-main">
            <v-card class="">
                <!-- Main display -->
                <slot name="main">Main</slot>
            </v-card>
        </v-col>

        <v-col>
            <v-tabs class="elevation-2">

                <v-tab
                    key="0"
                    href="#tab-0">
                    Controls
                </v-tab>

                <v-tab-item
                    key="0"
                    value="tab-0"
                >
                    <v-card>
                        <v-card-text>
                            <slot name="controls" ></slot>
                        </v-card-text>
                    </v-card>

                </v-tab-item>

                <v-tab
                    key="1"
                    href="#tab-1">
                    Notes
                </v-tab>

                <v-tab-item
                    key="1"
                    value="tab-1"
                >
                    <v-card>
                        <v-card-text>
                            <slot name="notes" ></slot>
                        </v-card-text>
                    </v-card>

                </v-tab-item>
            </v-tabs>
        </v-col>

    </v-row>


</v-container>
