<html>
    <head>
        <script data-main="/js/vtracer-main.js" src="/lib/require.js"></script>
        <style>
           div.tooltip {
               position: absolute;
               text-align: center;
               /* width: 60px; */
               /* height: 28px; */
               padding: 2px;
               font: 12px sans-serif;
               background: lightsteelblue;
               border: 0px;
               border-radius: 8px;
               pointer-events: none;
           }

        </style>
    </head>
    <body>
        <div>
            <svg id="main" xmlns="http://www.w3.org/2000/svg" width="1500" height="1500">
                <g class="log" x="1000"  y="200" >
                </g>
            </svg>
        </div>

    </body>
</html>
