
.tippy-popper {

    .tippy-tooltip {
        .tippy-backdrop {
            // display: none;
        }
        .tippy-content {

        }
    }
}

.main {
    .topbar {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: row;

        font-size: 1em;
        width: 100%;
        height: 40px;

        align-items: center;
        // grid-column-gap     : 10px;
        // grid-template-columns  : 20px 7em 18em 2fr 1fr 20px;
        // grid-template-areas: "x1 head nav middle last x2";

        background: @green;

        // align-items: last baseline;


        // min-height: 0;  /* NEW */
        // min-width: 0;   /* NEW; needed for Firefox */

        .topbar-item-head {
            margin-left: 10px;
        }
        .topbar-item-nav {
            margin-left: 20px;
        }

        .topbar-item-middle {
            margin-left: auto;
        }

        .topbar-item-last {
            margin-right: 10px;
            white-space: nowrap;
            min-height: 0;  /* NEW */
            min-width: 0;   /* NEW; needed for Firefox */
        }
    }

}


#nav-menu ul li span {
}

#curation-status-button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 8em;
    font-size: 1em;
}


.block {
    display: block;
}

.inline {
    display: inline;
}

.ui-menu {
    width: 200px;
}
