
@import "inc/_solarized";

.menubar {
    font-size: 24px;
    display: grid;

    grid-column-gap     : 10px;
    grid-template-columns  : 20px 1fr 1fr 1fr 20px;
    grid-template-areas: "x1 head middle last x2";

    background: @base2;

    .menuitem {

    }

    .menuitem-head {
        grid-area: head;
        justify-self: start;
    }
    .menuitem-last {
        grid-area: last;
        justify-self: end;
    }
}

.statusbar {
    display: inline-flex;
    align-items:  center; /* flex-start | flex-end | center */
    justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */
    font-size: 18px;
    background: #aaa9ff;
    height: 30px;
}
.statusitem {
    flex: 0 1 auto;
}


.block {
    display: block;
}

.inline {
    display: inline;
}
