



.menubar {
    font-size: 24px;
}

.statusbar {
    display: inline-flex;
    align-items:  center; /* flex-start | flex-end | center */
    justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */
    font-size: 18px;
    background: #aaa9ff;
    height: 30px;
}
.statusitem {
    flex: 0 1 auto;
}

.menu-pane {
    margin: 0 auto;
    background: #ccd9ff;
}


.block {
    display: block;
}

.inline {
    display: inline;
}
