

div.page-images {
    width: 100%; /*can be in percentage also.*/
    text-align: center;
    padding: 0;
    border: 0;
    background: #dee0ad;
}

div.page-image {
    /* padding-bottom: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50px; */
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}
svg.page-image {
    /* padding-bottom: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50px; */
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}
svg rect {
    pointer-events: none;
}
svg image {
    pointer-events: none;
}


div.page-textgrids {
    /* width: 100%; /\*can be in percentage also.*\/ */
    /* height: auto; */
    margin: 0 auto;
    padding: 10px;
    position: relative;
    /* background: #dee0ad; */
}


div.textgrid {
    position: relative;

    padding-bottom: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 1px;
    border-style: solid;
    /* border-color:lightsteelblue; */
    /* border-color: #668cff; */
    border-color: #dee0ad;
    /* width: 50px; */

}

canvas.textgrid {
    position: absolute;
    width: "100%";
    height: "100%";

    z-index: -10;
}

svg.textgrid {
    position: absolute;
    width: "100%";
    height: "100%";

    z-index: 10;
}

.menubar {
    font-size: 24px;
}

.statusbar {
    display: inline-flex;
    align-items:  center; /* flex-start | flex-end | center */
    justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */
    font-size: 18px;
    background: #aaa9ff;
    height: 30px;
}
.statusitem {
    flex: 0 1 auto;
}

.menu-pane {
    margin: 0 auto;
    background: #ccd9ff;
}


.block {
    display: block;
}

.inline {
    display: inline;
}

table.menu-table {

}

tr.menu-row{

}

td.menu-item {
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: "blue";
}

td.menu-item div.menu-entry {
    text-align: center;
    font-size: 80%;
    /* font: 'normal normal normal 12px/normal Helvetica, Arial'; */
    /* text-align: center; */
    align: center;
    /* width: 100px; */
    /* height: 128px; */
    /* display: inline-block; */

    /* border: 1px; */
    /* border-style: solid; */
    /* border-width: 1px; */
    border-color: "blue";
    padding: 2px;
}
