
div.tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px; */
    /* height: 28px; */
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.hover:hover {
    stroke: black;
    opacity: 0.9;
    fill: blue;
}


div.page-image {
    padding: 0;
    margin: 0;
    border: 0;
}
svg.page-image {
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    /* width: 50px; */
}

.page-images {
    /* width: 100%; /\*can be in percentage also.*\/ */
    /* height: auto; */
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color:lightsteelblue;
}

div.page-textgrid {
    padding-bottom: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 2px;
    border-style: solid;
    border-color:lightsteelblue;
    /* width: 50px; */
}

.page-textgrids {
    /* width: 100%; /\*can be in percentage also.*\/ */
    /* height: auto; */
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.menu-pane {
    margin: 0 auto;
    position: relative;
}

ul.menubar {
    list-style: none;
    margin-top: 10px;
}

ul.menubar > li {
    float: left;
    /* display: inline; */
}

ul.menubar > li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
}

ul.menubar > li a:hover {
    /* background-color: #; */
}

.labeling-form {
}

.block {
    display: block;
}
.inline {
    display: inline;
}

.form-frame {
    position: absolute;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}






 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /\* Fallback color *\/ */
    /* background-color: rgba(0,0,0,0.4); /\* Black w/ opacity *\/ */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* margin: 5px auto; /\* 15% from the top and centered *\/ */
    border: 1px solid #888;
    width: 10%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.8)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0.8)}
    to {transform: scale(1)}
}
