
div.page-image-widget {
    display: grid;


    // lgt/rgt = left/right-gutter
    // tsb/bsb = top/bottom status bar
    // frm     = frame div
    grid-template-areas:
    /**/"tsb tsb tsb"
        "lgt frm rgt"
        "lgt frm rgt"
        "bsb bsb bsb"
    ;



    grid-template-columns: 4px auto 18px;
    grid-template-rows: 1.3em 60px auto 3px;

    // min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */

    div.infobar {
        grid-area: inf;
    }

    &.hideinfobar {

        grid-template-areas:
        /**/"tsb tsb tsb"
            "lgt frm rgt"
            "lgt frm rgt"
            "bsb bsb bsb"
        ;
        grid-template-rows: 1.3em auto 3px;
    }

    div.status-top {
        grid-area: tsb;

        background: @base01;
        // padding-left: 10px;

        font-size: 1.1em;
        font-weight: bold;
        color: white;

        .noselect();
    }

    div.status-bottom {
        grid-area: bsb;

        background: @base1;
        text-align: bottom;
    }

    div.left-gutter{
        grid-area: lgt;

        border: 0;
        background: @base0;
    }

    div.right-gutter{
        grid-area: rgt;

        border: 0;
        background: @base0;
    }

    div.widgetcontent {
        grid-area: frm;
        display: block;

        div.page-image{
            padding: 0;
            margin: 0;
            border: 0;
            z-index: 10;

            svg.page-image {
                padding: 0;
                margin: 0;
                border: 0;
                z-index: -1;
            }
        }
    }
}
