
div.page-image-widget {
    .framed-guttered-area();

    margin-top: 1px;

    .frame-content {
        display: block;
        // height: auto;

        div.page-image{
            padding: 0;
            padding-right: 1px;
            margin: 0;
            border: 0;
            z-index: 10;

            svg.page-image {
                padding: 0;
                margin: 0;
                border: 0;
                z-index: -1;
            }
        }
    }
}
