
div.page-image-viewer {
    // margin: 0 auto;

    div.page-images {
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;

        justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */

        // justify-content: center;

        margin: 0;
        padding: 8px;
        border: 0;
        background: @base2;

    }


}

