

.split-pane-divider {
    background: #aaa;
}

.split-pane-divider.dragged.touch {
	  background: blue;
	  opacity: 0.25;
}


.split-pane-component-inner {
	  box-sizing: border-box;
	  border: 1px solid gray;
	  background: white;
	  width: 100%;
	  height: 100%;
	  padding: 0 1em;
	  overflow: auto;
}

.split-pane-frame {
    box-sizing: border-box;
	  width: 100%;
	  height: 100%;
	  /* padding: 5px; */
	  border: 5px;
    border-style: solid;
    border-color: silver;
	  /* background: gray; */
}

