
div.page-images {
    width: 100%; /*can be in percentage also.*/
    text-align: center;
    padding: 0;
    border: 0;
    background: #dee0ad;
}

div.page-image {
    /* padding-bottom: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50px; */
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}
svg.page-image {
    /* padding-bottom: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50px; */
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

svg rect {
    pointer-events: none;
}

svg image {
    pointer-events: none;
}
