
@import "inc/_list";
@import "inc/_buttons";
@import "inc/_solarized";
@import "inc/_svg";


div.page-textgrids {
    margin: 0 auto;
    padding: 10px;
}

div.textgrid {
    position: relative;

    // canvas.textgrid and svg.textgrid are superimposed
    canvas.textgrid {
        position: absolute;

        top: 0;
        left: 0;

        z-index: -10;
    }

    svg.textgrid {
        position: absolute;

        top: 0;
        left: 0;

        z-index: 1000;
    }
}

