div.layers {

    position: relative;
    display: block;
    overflow: auto;

    z-index: 0;

    img.layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    canvas.layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }


    svg.layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }

    div.layer.text-layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .measured {
            visibility: hidden;
            position: absolute;
            height: auto;
            width: auto;
            white-space: pre;
        }
    }

    div.layer.event-layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
}
