{
  "presets": [
    [ "@babel/env", {
      "modules": false,
      "loose": false,
      "debug": true,
      "targets": {
        "node": "current"
      }
    }],
    "@babel/typescript"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "modules": false,
          "loose": false,
          "debug": true,
          "targets": {
            "node": "current"
          }
        }],
        "@babel/preset-typescript"
      ]
    }
  }
}
