<div>
    <div class="mt-1 mb-3 d-flex align-center">
        <v-text-field
            label="Search terms"
            single-line
            outlined
            hide-details
            dense
            @keyup.enter="onSubmit"
            v-model="queryTextRef"
            class="mx-3"
        ></v-text-field>

        <v-btn v-on:click="onReset" class="mx-3" small color="primary">Reset</v-btn>

    </div>
      <div class="selection-frame">
        <ul class="selection">
          <li v-for="(item, i) in currSelectionRef"
            :key="i">
            {{item}}
          </li>
        </ul>
      </div>
</div>
