@import '~/assets/sass/inc/_solarized';
@import '~/assets/sass/inc/_alignment';
@import '~/assets/sass/inc/_noselect';

.selection {
  background: $base01;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
}


.selection-frame {
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: auto;
  height: 80%;
}
