<v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
        <v-card>
            <v-card-title class="headline">
                <slot name="title" />
            </v-card-title>
            <v-card-text>
                <p>
                    <slot name="description" />
                </p>
            </v-card-text>
        </v-card>

        <v-card>
            <slot name="main">Main</slot>
        </v-card>

        <v-card>
            <v-card-text>
                <slot name="notes" ></slot>
            </v-card-text>
        </v-card>

    </v-flex>
</v-layout>
